@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radley&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mallanna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: black;
  font-family: "Poppins", Arial;
}

section {
  padding: 7em;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 7em;
  z-index: 7;
}

header a {
  color: #8a2be2;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  text-align: right;
}

header ul li a {
  display: block;
  padding: 0 0.7em;
}

.header--fixed-top {
  background-color: transparent;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
}

.header--fixed-top-scrolled {
  background-color: #F4F4ED;
}

.hero {
  color: white;
  padding: 7em;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url("../lines-of-code.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../lines-of-code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__text-content {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.hero__text-content h1 {
  font-size: 2.4em;
  margin-bottom: 0.6em;
  font-weight: bold;
}

.hero__text-content p {
  font-size: 0.78em;
  padding: 0.7em 0;
}

.hero__action {
  margin-top: 2em;
}

.hero__action button {
  border: 1px white solid;
  padding: 1.3em;
  margin-right: 4em;
  background-color: transparent;
  z-index: 1;
  position: relative;
}

.hero__action button a {
  display: block;
  font-size: 2em;
  font-family: "Raleway";
  font-weight: bold;
  color: #0DA8D3;
}

.hero__action button:before {
  background-color: white;
  content: '';
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.hero__action button:hover:before {
  width: 100%;
  cursor: pointer;
}

.typing {
  width: 10ch;
  -webkit-animation: keyboard-typing 2s steps(10), blink 0.5s step-end infinite alternate;
          animation: keyboard-typing 2s steps(10), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@-webkit-keyframes keyboard-typing {
  from {
    width: 0;
  }
}

@keyframes keyboard-typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/*# sourceMappingURL=index.css.map */