@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radley&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mallanna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 3.8vw;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #F1F7ED;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body *, body *:after, body *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

section {
  padding: 2em;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.skill-tag-logo:before {
  content: "logo";
  color: white;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px solid red;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem 2rem;
  z-index: 7;
  font-size: 1rem;
}

header a {
  font-weight: 700;
  text-align: left;
  font-family: "Montserrat";
  text-transform: uppercase;
}

header .nav--fixed-top {
  display: none;
}

header .nav--fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  display: inline;
  background-color: #000;
  padding: 1em;
}

header .nav--fixed-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header .nav--fixed-bottom ul li {
  display: block;
  padding-right: 3em;
}

header .nav--fixed-bottom ul li:last-child {
  padding-right: 0;
}

header .nav--fixed-bottom ul li a {
  font-size: 0.87rem;
  color: #F1F7ED;
}

.header--fixed-top {
  background-color: transparent;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
}

.header--fixed-top a {
  color: #8A00FF;
  padding-bottom: 0.5rem;
}

.header--fixed-top nav a:hover {
  border-bottom: 0.3rem solid #8A00FF;
}

.header--fixed-top-scrolled {
  background-color: #8A00FF;
}

.header--fixed-top-scrolled a {
  color: #FFFFFF;
}

.header--fixed-top-scrolled a:hover {
  opacity: 0.75;
}

.hero {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../lines-of-code.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../lines-of-code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;
}

.hero__text {
  padding: 2.5rem 0 0 0;
  margin: 0;
}

.hero__text h1 {
  font-size: 3rem;
  font-weight: 700;
  display: inline;
}

.hero__text .typed-cursor {
  font-size: 3rem;
}

.hero__text .hero__short-intro {
  font-size: 1.1rem;
  padding: 0.6em 0 0 0;
}

.hero__action {
  margin: 1rem 0 0 0;
  padding: 0;
}

.hero__action a {
  text-align: center;
  border: 1.5px white solid;
  padding: 0.8em;
  margin-top: 1em;
  background-color: transparent;
  z-index: 1;
  display: inline-block;
  width: 70vw;
  font-size: 1.4rem;
  font-family: "Raleway";
  font-weight: 700;
  color: #0DA8D3;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.hero__action a:hover {
  background-color: white;
  cursor: pointer;
}

.projects {
  padding-top: 3.5em;
  margin-top: -2.1em;
}

.projects h1 {
  font-size: 2rem;
}

.projects .projects__see-more {
  font-size: 1.1rem;
}

.projects .projects__section-title, .projects .projects__see-more {
  color: #D72638;
}

.projects .projects__see-more {
  display: inline;
}

.projects .projects__see-more a:hover, .projects .projects__see-more a:visited, .projects .projects__see-more a:active, .projects .projects__see-more a:link {
  color: inherit;
}

.projects .projects__see-more:hover {
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

.projects .projects__showcase ul {
  margin-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: auto;
  gap: 1em;
}

.projects .projects__showcase ul .card {
  margin: auto;
  margin-bottom: 2em;
  border-radius: 20px;
  overflow: hidden;
  background-color: #202020;
}

.projects .projects__showcase ul .card .card__thumbnail-container {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .projects__showcase ul .card .card__thumbnail-container .card__thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 1;
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.projects .projects__showcase ul .card .card__thumbnail-container .card__info {
  position: absolute;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
  padding: 2em;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-family: "Montserrat";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .projects__showcase ul .card .card__thumbnail-container .card__info .card__links {
  margin-top: 0.2em;
}

.projects .projects__showcase ul .card .card__thumbnail-container .card__info .card__links a {
  display: inline-block;
  background: #FFF;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  color: #8A00FF;
  font-weight: 700;
  font-family: "Montserrat";
}

.projects .projects__showcase ul .card .card__thumbnail-container .card__info .card__links a:last-of-type {
  margin-right: 0;
}

.projects .projects__showcase ul .card .card__thumbnail-container .card__info .card__text p:last-of-type {
  margin-bottom: 0;
}

.projects .projects__showcase ul .card .card__thumbnail-container .card__info .card__icons {
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10px, 13%))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10px, 13%));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.projects .projects__showcase ul .card .card__headline {
  background-color: #8A00FF;
  margin: 0;
  padding: 0.5em;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 1.05rem;
}

.projects .projects__showcase ul .card:hover .card__thumbnail {
  opacity: 0.4;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.projects .projects__showcase ul .card:hover .card__info {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.07);
          transform: translateY(-50%) scale(1.07);
}

.skills {
  background-color: #151515;
  color: white;
  margin-bottom: 2em;
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 1.3vw;
  }
  section {
    padding: 3em 9vw;
  }
  header {
    padding: 1.5em 9vw;
    letter-spacing: 0.05em;
  }
  header .nav--fixed-bottom {
    display: none;
  }
  header .nav--fixed-top {
    display: inline;
  }
  header .nav--fixed-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  header .nav--fixed-top ul li {
    display: block;
    padding-right: 3em;
  }
  header .nav--fixed-top ul li:last-child {
    padding-right: 0;
  }
  .hero {
    height: 100vh;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .hero__content {
    margin: auto;
    margin-left: 0;
  }
  .hero a {
    width: 20vw;
    margin-right: 1.5em;
  }
  .projects .projects__showcase ul {
    gap: 2.5em;
  }
}
/*# sourceMappingURL=index.css.map */