section.hero {
	height: 100vh;
	padding-top: 5em;
	background: linear-gradient(rgba(255, 255, 100, 0.6), rgba(195,195,161,0.4)), url("../asset/laptop1.jpg") no-repeat center center;
	background-size: cover;
	background-position: 55% 90%;
}

.hero__text {
	h1 {
		color: $primary;
        font-size: 3rem;
        font-weight: 700;
        display: inline; // Display inline so typed.js works
    }
    .typed-cursor {
		color: $primary-darker;
        font-size: 3rem; // Make typed.js cursor as high as h1
    }
}

.hero__actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	.hero__link {
		color: $white;
		background-color: $primary;
		width: 60vw;
		border-radius: 10px;
		font-weight: 600;
		font-size: 1.1rem;
		padding: 0.8em;
		margin-top: 1em;
	}
}


// Desktop version
.hero {
	@include respond-min-width('tablet') {
		height: 100vh;
		text-align: left;
		// Centering the hero's content
		display: flex;
		.hero__content {
			margin: auto;
			margin-left: 0;
		}        
		.hero__link{
			width: 17vw;
			margin-right: 1.5em;
		}
		.hero__actions {
			flex-direction: row;
			text-align: center;
		}
	}
}