section.projects {
    padding-top: 3.5em;
    margin-top: -2.1em;
    h1 {
        color: $primary-satured;
        margin: 0;
        padding: 0;
        margin-bottom: 0.3em;
    }
    .projects__see-more {
        font-size: 1.1rem;
        color: $primary-satured;
        display: inline;
        a:hover, a:visited, a:active, a:link {
            color: inherit;
        }
        &:hover {
            font-style: italic;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}


.projects__gallery ul {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 1em;
    @include respond-min-width('tablet') {
        gap: 2.37em;
    }
}


.project {
    width: 100%;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 20px;
    overflow: hidden;
    background-color: #202020;
    transform: scale(1);
    transition: transform 0.42s ease-in;
}

.project__headline {
    background-color: $primary-lighter;
    color: $white;
    margin: 0;
    padding: 0.5em;
    text-align: center;
    font-weight: 700;
    font-size: 1.05rem;
}

.project__content-container {
    // border: 5px solid orange;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex; // Remove the block style spacing
    justify-content: center;            
    .project__info {
        position: absolute;
        height: min-content;
        top: 50%;
        transform: translateY(-50%) scale(1);
    }
}

.project__info {
    padding: 2em;
    color: $white;
    font-size: 1rem;
    font-family: "Poppins";
    opacity: 0;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
}

.project__links {
    margin-top: 0.2em;
    .project__link {
        display: inline-block;
        background: $white;
        color: $primary-lighter;
        font-weight: 700;
        margin-right: 0.5em;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

.project__desc p:last-of-type {
    margin-bottom: 0;
}


.project__icons {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 13%));
    justify-content: center;
    gap: 2rem;
}

.project__thumbnail-padded-aspect-ratio-container {
    position: relative;
    height: 0;
    width: 100%;
    overflow: hidden;
    padding-bottom: 70%;
    .project__thumbnail-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.76;
        transform: scale(1.05);
        transition: all 0.3s ease-in;
        object-fit: cover;
    }
}


.project:hover, .project:focus-within {
	transform: scale(1.05);
    .project__thumbnail-img {
        opacity: 0.18;
        transform: scale(1);
    }

    .project__info {
        opacity: 1;
        transform: translateY(-50%) scale(1.07);
    }
}