// "Standard" styles are for popular elements in the project
// that should share some same standard basic styles

// Poppins font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
    @include respond-min-width('tablet') {
        font-size: 1.25vw;        
    }
}

body {
	background-color: $bg;
	font-family: "Poppins", sans-serif;
	position: relative;
	color: $gray;
}

section {
	padding: 2em 2rem;
    text-align: center;
    @include respond-min-width('tablet') {
        padding: 3em 9vw;
    }
}