.button {
    border: none;
    font-size: 1em;
    padding: 0.5em 1em;
}

/*
######## #### ######## ######## ##    ## 
##        ##       ##       ##   ##  ##  
##        ##      ##       ##     ####   
######    ##     ##       ##       ##    
##        ##    ##       ##        ##    
##        ##   ##       ##         ##    
##       #### ######## ########    ##    
*/

/*
A fizzy button spews colorful particles on hover
Inspiration: https://codepen.io/webLeister/pen/XwGENz

The button must have a "fizzy-spots-container"
Inside this container are 52 "fizzy-spot" divs
    Index 1 - 20: top side spots
    Index 21-40: bottom side spots
    Index 41-46: left side spots
    Index 47-52: right side spots

HTML template:
<button>
    <div class="fizzy-spots-container>
        <div class="fizzy-spot"></div>
        <div class="fizzy-spot"></div>
        <div class="fizzy-spot"></div>
        ... (x52)
    </div>
</button>

*/

.button--fizzy {
    position: relative;
    .fizzy-spots-container .fizzy-spot{
        position: absolute;
        border-radius:100px;
        opacity: 0;
        animation: changeOpacity 1s;
        @for $i from 1 through 52 {
            &:nth-of-type(#{$i}){
                transform-origin:90px - random(10) 20px - random(10);
                background:hsla(350 + random(399) ,57% - random(10) ,65%,1);
                box-shadow: 0px 0px 10px rgba(255,255,255,0.12);
                transition: all 0s + random(10)/10;
            }
        }
    
        // Randomize positions of the spots
        @for $i from 1 through 20{
            &:nth-child(#{$i}){
                padding:random(3) + 2 + px;
                left: -10 + $i * 5.5%;
                top: 100%;
            }
        }
        @for $i from 21 through 40{
            &:nth-child(#{$i}){
                padding:random(3) + 2 + px;
                left: -10 + (($i - 19) * 5.5%);
                top: -5%;
            }
        }
        @for $i from 41 through 46{
            &:nth-child(#{$i}){
                padding:random(3) + 2 + px;
                left: 98%;
                top: ($i - 38) * 10%;
            }
        }
    
        @for $i from 47 through 52{
            &:nth-child(#{$i}){
                padding: random(3) + 2 + px;
                left: -3%;
                top: ($i - 45) * 10%;
    
            }
        }
    }
    
    // Add animation settings on hover
    &:hover .fizzy-spot{
        @for $i from 1 through 52 {
            &:nth-of-type(#{$i}) {
                animation: moveSpot-#{$i} .5s .4/random(10) + random(10)/10 + s linear infinite;
            }
        }
    }
    // Animation keyframes
    @keyframes changeOpacity {
        from {}
        to {opacity: 0;}
    }
    // Set different keyframes for spots on 4 different sides
    @for $i from 1 through 20 {
        @keyframes moveSpot-#{$i} {
            from {opacity: 0;}
            to {transform: translateY(30px) translatex(-20px + $i*2); opacity: 0.9;}
        }
    }
    
    @for $i from 21 through 40{
        @keyframes moveSpot-#{$i}{
            from {opacity:0;}
            to {transform:translateY(-30px) translatex(-50px + $i*2); opacity: 0.9;}
        }
    }
    @for $i from 41 through 46{
        @keyframes moveSpot-#{$i}{
            from {opacity:0;}
            to {transform:translateY(-86px + $i*2) translatex(40px); opacity: 0.9;}
        }
    }
    @for $i from 47 through 52{
        @keyframes moveSpot-#{$i}{
            from {opacity:0;}
            to {transform:translateY(-99px + $i*2) translatex(-40px); opacity: 0.9;}
        }
    }
}